@import url("https://fonts.googleapis.com/css2?family=Exile&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
@import "tailwindcss";

@theme{
    --color-primary: #FBFBFB;
    --color-seondary: #393E46;
    --color-accent: #866ff7;
    --color-accent-dark: #6b51ed;
    --font-playWrite: "Playwrite HU", cursive;
}